*{
    margin: 0;
    padding: 0;
}

#buttonContainer a {
    color: black;
    text-decoration: none; /* This removes the underline */
  }
  
  #buttonContainer a:hover {
    color: black; /* Optional: A slightly different color when hovering */
  }

.logo-vector-icon {
    width: 65.4px;
    position: relative;
    height: 22.9px;
}
.logo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.logo {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.icon40pxburger {
    width: 40px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.header-mobile {
    width: 375px;
    background-color: #fff;
    border-bottom: 1px solid #b5b5b5;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
}
.icon24pxshipping {
    width: 24px;
    position: relative;
    border-radius: 18px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.step-2 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.03em;
    line-height: 16px;
    font-weight: 500;
}
.shipping {
    align-self: stretch;
    position: relative;
    font-size: 19px;
    letter-spacing: 0.03em;
    line-height: 24px;
    font-weight: 500;
}
.text {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.step-5 {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.step-3 {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    color: #000;
}
.steps {
    width: 373px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
    box-sizing: border-box;
}
.payment1 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.03em;
    line-height: 16px;
}
.credit-card {
    position: relative;
    letter-spacing: 0.03em;
    line-height: 16px;
    font-weight: 500;
}
.selected {
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    color: #000;
}
.tabs {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
    font-size: 14px;
    color: #717171;
}
.top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.credit-card-child {
    position: absolute;
    height: 99.11%;
    width: 100%;
    top: 0.44%;
    right: 0%;
    bottom: 0.46%;
    left: 0%;
    border-radius: 15.81px;
    background-color: #000;
}
.credit-card-item {
    position: absolute;
    height: 98.95%;
    width: 37.63%;
    top: 0.51%;
    right: 29.53%;
    bottom: 0.54%;
    left: 32.84%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.credit-card-inner {
    position: absolute;
    height: 99%;
    width: 37.63%;
    top: 0.44%;
    right: 17.31%;
    bottom: 0.56%;
    left: 45.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.image-7-icon {
    width: 20.5px;
    position: relative;
    height: 20.5px;
    object-fit: cover;
}
.wifi-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
}
.icons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 5.7px;
    gap: 5.7px;
}
.info-1 {
    position: absolute;
    height: 31.58%;
    width: 88.61%;
    top: 12.76%;
    right: 4.73%;
    bottom: 55.66%;
    left: 6.67%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.div {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-weight: 600;
}
.number {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40.2px 0px 0px;
    gap: 5.7px;
}
.cardholder {
    flex: 1;
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.mastercard-icon {
    width: 40.2px;
    position: relative;
    height: 23px;
}
.name {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    color: #aeaeae;
}
.info-2 {
    position: absolute;
    height: 37.53%;
    width: 88.61%;
    top: 53.15%;
    right: 4.74%;
    bottom: 9.33%;
    left: 6.65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
}
.credit-card1 {
    width: 337px;
    position: relative;
    height: 190px;
    text-align: center;
    font-size: 17.25px;
    color: #fff;
}
.cvv {
    flex: 1;
    position: relative;
    line-height: 16px;
}
.field {
    align-self: stretch;
    border-radius: 7px;
    background-color: #fff;
    border: 0.5px solid #cecece;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
}
.field2 {
    flex: 1;
    border-radius: 7px;
    background-color: #fff;
    border: 0.5px solid #cecece;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
}
.fields1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.fields {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    color: #979797;
}
.payment-details {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
.done-round-child {
    width: 4.3px;
    position: relative;
    height: 3.7px;
    object-fit: contain;
}
.done-round {
    border-radius: 3px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
}
.apple-110 {
    flex: 1;
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.checbox-field {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 15px;
}
.label {
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.button {
    flex: 1;
    border-radius: 6px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 0px;
    cursor: pointer;
}
.button1 {
    flex: 1;
    border-radius: 6px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px 0px;
    color: #fff;
}
.buttons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
    text-align: center;
    font-size: 16px;
}
.right-side {
    align-self: stretch;
    height: 704px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
}
.content {
    width: 373px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 16px 72px;
    box-sizing: border-box;
    font-size: 20px;
    color: #000;
}
.logo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.we-are-a {
    align-self: stretch;
    position: relative;
    line-height: 24px;
}
.top1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.services {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}
.bonus-program {
    align-self: stretch;
    position: relative;
    line-height: 32px;
}
.section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.footer-navigation {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    font-size: 14px;
}
.content1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.icon16pxtwitter {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.social-icons {
    width: 173px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-mobile {
    width: 375px;
    background-color: #181313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 32px;
    box-sizing: border-box;
    gap: 32px;
    text-align: center;
    font-size: 13px;
    color: #cfcfcf;
}
.step-3-mobile {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #b2b2b2;
    font-family: Inter;
}

